@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');

body{
    font-family: 'IBM Plex Sans', sans-serif;
}
.container{
    /* border: 1px solid black; */
    width: 95%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hex-colors{
    /* border: 1pxsolid black; */
    text-align: center;
}
.hex-colors h1{
    font-size: 2rem;
    text-transform: uppercase;
    animation:changecolor 5s infinite alternate ;
}
.hex-colors h2{
    /* border: 1px black solid; */
    font-size: 2rem;
    margin-top: 15%;
}
@keyframes changecolor{
0%{
    color: indigo;
}  
20%{
    color:blue;
}    
40%{
    color:yellow;
}    
60%{
    color:red;
}    
80%{
    color: indigo;
}    
100%{
    color:orange;
}      
}

@media(max-width:480px){
    .hex-colors h1{
        font-size: 1.5rem;
    }
    .hex-colors h2{
        font-size: 1.5rem;
    }
}
